In [1]:
%matplotlib inline
from copy import deepcopy
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')
from sklearn.cluster import KMeans

In [18]:
# Importing the dataset
df = pd.read_excel (r'C:\Users\mjanardanan\Desktop\Clustering\Custom SQL Query_thurs.xlsx') 
df.head(10)

,BoardDescription,LOS,EntBin,EntDOW,OvNt,ExtBin,Biz/Lei,by LOS,Ent Before,BehaviorGroup,...,LOS (Day),LOS (group),LocationID,Number of Records,Online,RateDescription,Rev,timein,timeout,losn
0,MainBoard -Monday - Friday,13,23,Thursday,1,11,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,91385,1,Offline,Default,27.00,2018-06-21 23:07:09,2018-06-22 11:46:01,17
1,Main Board,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,54234,1,Offline,Default,31.00,2018-07-12 23:33:19,2018-07-13 12:43:39,17
2,Main Board,13,23,Thursday,1,11,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,51686,1,Offline,Default,85.00,2019-05-09 23:06:02,2019-05-10 11:34:40,17
3,Main Board,13,23,Thursday,1,11,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,51399,1,Offline,Default,55.00,2018-01-25 23:26:01,2018-01-26 11:53:06,17
4,Hampton Inn Chelsea Valet,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,6120,1,other,Hampton Inn Chelsea Valet,34.64,2018-09-20 23:55:37,2018-09-21 12:11:04,17
5,6-24 Hrs Hotel,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,91765,1,other,200 Park Avenue,80.00,2019-04-11 23:36:06,2019-04-12 12:03:57,17
6,24 hrs,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,64232,1,other,Roosevelt,44.00,2018-10-11 23:36:49,2018-10-12 12:01:18,17
7,Main Board,13,23,Thursday,1,11,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,51686,1,other,Default,100.00,2018-12-13 23:39:10,2018-12-14 11:56:29,17
8,Main Board,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,91386,1,Offline,Default,27.00,2018-08-16 23:39:40,2018-08-17 12:32:40,17
9,Main Board,13,23,Thursday,1,12,Lei,24,23,Thu/Lei/13-24/Peak,...,1Day,13-24,91386,1,Offline,Default,27.00,2018-07-12 23:20:13,2018-07-13 12:25:50,17

In [19]:
#f1 = df['Cnt'].values
f2 = df['EntBin'].values
f3 = df['losn'].values
#f4 = df['Cnt'].values
X = np.array(list(zip(f2, f3)))
X

array([[ 23,  17],
       [ 23,  17],
       [ 23,  17],
       ...,
       [  0, 104],
       [  0, 104],
       [  0, 104]], dtype=int64)

In [20]:


# Number of clusters
kmeans = KMeans(n_clusters=14)
# Fitting the input data
kmeans = kmeans.fit(X)
# Getting the cluster labels
labels = kmeans.predict(X)
# Centroid values
centroids = kmeans.cluster_centers_
#print(labels)
print(centroids)
np.savetxt('fullthurs.txt', labels, fmt='%.f')

[[  8.77542356   9.34686347]
 [ 16.46517044  66.        ]
 [ 10.09064518   2.03681617]
 [ 15.55636364  43.08363636]
 [ 17.96068719   3.04418748]
 [ 14.55732608 104.        ]
 [ 17.85921029  16.2010452 ]
 [  6.24180852   9.54207927]
 [ 11.99576954  28.        ]
 [ 13.36326416   1.96024503]
 [  7.48589807   1.12968182]
 [  7.20530896  17.        ]
 [  8.33685685   5.6543715 ]
 [ 13.06029506   6.77542839]]